<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>

	<!-- the targets to write to -->
	<targets async="true">		
		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		<target xsi:type="Database"
		  name="SQLDatabase"
		  connectionString="data source=(localdb)\MssqlLocalDB;initial catalog=NLogLogs;Integrated Security=true;multipleactiveresultsets=True;"
		  commandText="INSERT INTO AppLogs(CreationDate,Msg,Level,Exception,StackTrace,Logger,Url) VALUES
		  					(@datetime,@msg,@level,@exception,@trace,@logger,@url)">
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@exception" layout="${exception}" />
			<parameter name="@trace" layout="${stacktrace}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="SQLDatabase" />

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />
	</rules>
</nlog>